*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.gz
*.toc
*.pytxcode
*.dvi
*.blg
*.bbl
*.bst
*.bib

C:\Users\bruno\Documents\Metadata\Meus_Estudos\.vscode
Programação/_codes/making_gif/input/
Microeconomia/Microeconomia - Bruno de M. Ruas/Equilibrio Competitivo de Hotelling/Makefile
