*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.gz
*.toc
*.pytxcode
*.dvi
*.blg
*.bbl
C:\Users\bruno\Documents\Metadata\Meus_Estudos\.vscode
Microeconomia/Microeconomia - Bruno de M. Ruas/Equilibrio Competitivo de Hotelling/Makefile
*.bst
*.bib
